<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>IlluStudy</title>
</head>

<body>
	<div layout:fragment="contents">
	
		<div class="container">
		<h1>artworks</h1>
			<div class="row" th:each="artwork : ${form}">
			<main>
			<h2 th:text="${artwork.user.username}"></h2>
            <img src="" th:if="${@environment.getProperty('image.local')}" th:src="${artwork.imageData}" class="image" />
            <img src="" th:unless="${@environment.getProperty('image.local')}" th:src="${artwork.path}" class="image" />
            </a>
            
            <div>
            
           
           <form th:if="${artwork.favorite == null}" method="post" name="form1" th:action="@{'/favorite'}">
    		<input type="hidden" name="topic_id" th:value="${artwork.topicId}">
    		<a rel="follow" href="javascript:form1.submit()">
    		お気に入り登録
			</a>
		   </form>
		   
		   <form th:if="${artwork.favorite != null}" th:method="delete" name="form2" th:action="@{'/favorite'}">
    		<input type="hidden" name="topic_id" th:value="${artwork.topicId}">
    		<a rel="follow" href="javascript:form2.submit()">
    		お気に入り解除
			</a>
		   </form>
		   
         	<span class="count" th:text="${#lists.size(artwork.favorites)}">0</span>
            
            </div>
            
            <pre th:text="${artwork.description}"></pre>
            </main>
      </div>
		
			<table border="0">
			<tr>
			<div class="row" th:each="topic : ${artworkList}">
			<main>
			<td>
			<a th:href="@{'/artworks/{id}'(id=${topic.topicId})}">
            <img src="" th:if="${@environment.getProperty('image.local')}" th:src="${topic.imageData}" class="image" />
            <img src="" th:unless="${@environment.getProperty('image.local')}" th:src="${topic.thumbnailPath}" class="image" />
            </a>
            </td>
            </main>
			</tr>
			</table>
		
		</div>
	</div>
</body>
</html>