<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<title>illustudy</title>
</head>

<body>
	<div layout:fragment="contents">
		<div class="container">
			<h1>Add Resource</h1>

			<label for="resource">URLをアップロード</label>
			<div>
				<input id=url1 type="url" name="q" size="10"> <input
					type="button" value="取得" onclick="OnButtonClick();" />
			</div>

			<div class="container">
						<div>
							<img id="myimage" src="">
							<div class="is-clipped">
								<div id="mytitle" class="has-text-weight-bold"></div>
								<div id="mydescription" class="mt-2"></div>
								<div id="myurl" class="mt-2 is-size-7"></div>
							</div>
						</div>
			</div>


			<form method="post" th:action="@{/resource}" th:object="${form}"
				enctype="multipart/form-data">
				
				<input th:field="*{linkPreview.title}" type="hidden" id="title" name="title">
				<input th:field="*{linkPreview.description}" type="hidden" id="description" name="description">
				<input th:field="*{linkPreview.image}" type="hidden" id="image" name="image">
				<input th:field="*{linkPreview.url}" type="hidden" id="url" name="url">
				

				<label>コメント</label>
				<textarea th:field="*{description}" rows="1"></textarea>
				
				<input id="submit" type="submit" disabled value="投稿" />
				
			</form>


		<script>
function OnButtonClick(){
	url1=document.getElementById("url1").value;
	console.log(url1);
	$.ajax({
	    url: "https://api.linkpreview.net",
	    data: {q:url1, key: '2bbff0c963cfa817a8ff113c32c72849'},
	    success: function (response) {
	        console.log(response);
	        console.log(response.url);
	        document.getElementById("mytitle").innerHTML = response.title
	        document.getElementById("title").value =response.title
	        console.log(document.getElementById("title").innerHTML);
	        document.getElementById("mydescription").innerHTML = response.description
	        document.getElementById("description").value = response.description
	        document.getElementById("myimage").src = response.image
	        document.getElementById("image").value = response.image
	        document.getElementById("myurl").innerHTML = response.url
	        document.getElementById("url").value = response.url
	       
	        if(response.url != null){
	        	document.getElementById("submit").disabled = false;	        	
	        }
	       
	    }
	});	
	
		
}


</script>
		

		</div>
		

		
	</div>


</body>




</html>